.env

node_modules/

analysis/*
!analysis/.gitkeep

pages/*
!pages/.gitkeep

assets/

replicas/*
!replicas/.gitkeep

__pycache__/
*.pyc
venv/
__pycache__/
*.pyc

auth.json

storage/apps/*
!storage/apps/.gitkeep