@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/s_quicksand_v37_6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E_ttf_6c3cffccf2.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/s_quicksand_v37_6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E_ttf_3012bd1358.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/s_quicksand_v37_6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E_ttf_723da6a8a6.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/s_quicksand_v37_6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E_ttf_8dbdde84e6.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/s_quicksand_v37_6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E_ttf_77f9042b6b.ttf) format('truetype');
}
